/* ===== First section starts here===== */

@media screen and (max-width:600px) {
    body {
        background-color: black;
    }
    


    .firstsection{
        height: 520px;
    }
    .firstsection-leftdiv{
        width: 60%;
    }
    .firstsection-rightdiv{
        width: 40%;
    }
    .linkholder{
        flex-direction: column;
        padding-left: 40px;
    }

    .linkholder h4{
        margin-bottom: 20px;
    }
    .heading{
        font-size: 25px;
    }
    .firstsection-leftdiv p {
        font-size: 16px;
    }
    .line {
        width: 200px;
    }


/* ===== First section ends here===== */


/* ===== section section starts here===== */
.secondsection-rightdiv{
    margin-left: 0;
    margin-top: 30px;
}
/* ===== section section ends here===== */

}
