

/* universal selector starts here */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
body{ font-family: 'Inter', sans-serif;}
/* universal selector ends here */


/* ===== First section starts here===== */

.firstsection{
    height: 460px;
    border: 3px solid black;
    /* background: yellow; */
    display: flex;
}
.firstsection-leftdiv{
    width: 50%;
    height: 100%;
    background: var(--gray-color);
    padding: 20px;
}

.firstsection-rightdiv{
    height: 100%;
    width: 50%;
    border: solid pink;
background: var(--linear-gradient), url("./images/image1.jpg");
background-size: cover;
background-position: bottom left;
}

span{color: var(--main-color);}

.logotext{margin-bottom: 20px;}

.heading{ margin-bottom: 20px;}

.line{
    height: 16px;
    width: 224px;
    background: var(--main-color);
}

.firstsection-leftdiv p{margin-bottom: 25px;}

.link-holder{
    /* border: 3px solid orangered; */
    color: var(--white-color);
    text-transform: uppercase;
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0;
}
/* ===== First section ends here===== */